@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
  overflow: hidden; /* Make main content scroll from anywhere on the page */
}

/* Capture scroll events on the entire page and redirect to main */
.scroll-container {
  height: 100vh;
  overflow: hidden;
}

.scroll-target {
  height: 100vh;
  overflow-y: auto;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* src/app/globals.css or equivalent */

/* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Hide vertical scrollbar */
  height: 0px; /* Hide horizontal scrollbar */
  background: transparent; /* Make scrollbar track transparent */
}

/* For Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.main-scroll-target::-webkit-scrollbar {
  display: none; /* WebKit */
}

@theme {
  --color-primary: #00a6f4;
}
